{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% load static  %}
{% block content %}

<form name='myForm' method="post" action="{% url 'forma' %}" onsubmit="return validateForm()" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="button_reg">
        <button type="submit" class="btn btn-dark mt-2">оставить заявку</button>
    </div>
</form>

<script>
    function validateForm() {

        
        var usluga = document.forms["myForm"]['id_usluga'].value;
        var kolichestvo = document.forms["myForm"]['id_kolichestvo'].value;
        var komment = document.forms["myForm"]['id_komment'].value;
        var created = document.forms["myForm"]['id_created'].value;
        let phoneNumber = document.forms["myForm"]["id_phone_number"].value;
        if (phoneNumber == "") {
          alert("Введите номер телефона");
          return false;
        }
        if (phoneNumber === '' || usluga === '' || kolichestvo === '' || komment === '' || created === '') {
          alert('Все поля обязательны для заполнения.');
          return;
        }
        if (isNaN(kolichestvo) || kolichestvo < 1) {
          alert('Количество участников должно быть целым числом больше нуля.');
          return;
        }
      }
</script>

{% endblock %}