{% extends 'main/profile.html' %}
{% load static %}
{% block content %}
    <div class="title">Команда мечты</div>
    <div class="about-vector">
        <img src="{% static 'img/Vector3.png' %}" alt="line">
    </div>
    <div class="schedule-card-conteiner">
        {% for worker in workers %}
        <div class="work">
            <div class="worker">
                <img class='worker-img' src="{{ worker.logo.url }}" alt='work'>
            </div>
            <div class="work-info">
                <h3>
                    {{ worker.firstname }}
                    {{ worker.lastname }}
                </h3>
                <h2>
                    {{ worker.role }}
                </h2>
                <p>
                    {{ worker.about }}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="button1">
        <a class="button-worker" href="{% url 'zapros' %}">Стать частью команды</a>
    </div>
    
{% endblock %}