{% extends 'main/profile.html' %}

{% block profile-content %}
    <style>
        table, th, td {
            border: 1px solid;
            padding:15px;
            margin:25px;
        }
    </style>
    <table>
        <thead>
          <tr>
            <th>Услуга</th>
            <th>Катер</th>
            <th>Механик</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
          {% for remont in remonts %}
            <tr>
              <td>{{ remont.usluga }}</td>
              <td>{{ remont.kater }}</td>
              <td>{{ remont.mehanik }}</td>
              <td>{{ remont.data }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
{% endblock %}